.heading {
  text-align: center;
  width: 100%;
  float: left;
  padding-bottom: 20px;
  margin-top: 0px;
}
.heading h5 {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #292929;
  font-size: 7vw;
  color: transparent;
  font-weight: 600;
  letter-spacing: 0.8rem;
  opacity: 0.05;
  pointer-events: none;
  margin: 0px;
  padding: 0px;
}
.about-img{
  border: 2px solid #cb7c6f;
}
.about-img img{
  display: block;
  position: relative;
  width: 100%;
}
.heading h2 {
  font-weight: 600 !important;
  font-size: 30px;
  color: #292929;
  margin: 0px;
  padding: 0px;
  position: relative;
  bottom: 70px;
}
.heading-border {
  height: 4px;
  width: 40px;
  margin-bottom: 10px;
  margin-top: 0px;
  display: inline-block;
  background-color: #cb7c6f;
}
#ts h4 {
  border-left: 2px solid #ea4020;
  padding-left: 10px;
  font-size: 18px;
  margin-bottom: 25px;
  margin-top: 25px;
}
.about-me h3 {
  font-weight: 500;
  color: #292929;
  font-size: 18px;
  margin-top: 20px;
  padding-left: 10px;
}
.about-me p {
  padding-left: 10px;
  color: #555a64;
  font-size: 15px;
  line-height: 25px;
  margin-top: 15px;
}
.Technologies_Skills{
    display: flex;
    flex-wrap: wrap;
    
}
.Technologies_Skills button{
    margin: 10px;
    /* display: flex; */
    flex-wrap: wrap;
    border-radius: 20px;
    border: none;
    padding: 6px 16px;
    border: 1px solid rgba(41, 41, 41, 0.1);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    transition: 0.2s;
}
.Technologies_Skills button:hover{
  background-color: #ea4020;
  color: #ffffff;
  border: 1px solid #f6e7e4;
}

